.root {
    -fx-background-color: #f3f1ee;
}

.button {
    -fx-background-color: #baac8f;
    -fx-background-radius: 6;
    -fx-min-height: 35;
    -fx-min-width: 75;
    -fx-effect: dropshadow(gaussian, #8D8776 , 2,0,0,1);
    -fx-font-family: "Arial";
    -fx-text-fill: #f1ede9;
    -fx-font-size: 16;
}

.yesBtn:hover {
    -fx-background-color: #6fd007;
    -fx-effect: dropshadow( three-pass-box, #56a404, 10.0, 0.0, 0.5, 4.0);
    -fx-font-weight: bold;
    -fx-text-fill: #e9fdca;
}

.noBtn:hover {
    -fx-background-color: #11b8e2;
    -fx-effect: dropshadow( three-pass-box, #0981a0, 10.0, 0.0, 0.5, 4.0);
    -fx-font-weight: bold;
    -fx-text-fill: #c9f9ff;
}

.titleLabel {
    -fx-font-weight: bold;
    -fx-text-fill: #584643;
    -fx-font-size: 19;
    -fx-font-family: "Arial"
}


.messageLabel {
    -fx-text-fill: #403333;
    -fx-font-size: 16;
    -fx-font-family: "Arial";
}