.root {
    -fx-background-color: #f3f1ee;
}

.button {
    -fx-background-radius: 6;
    -fx-min-height: 35;
    -fx-min-width: 75;
    -fx-effect: dropshadow(gaussian, #8D8776 , 2,0,0,1);
    -fx-font-family: "Arial";
    -fx-font-size: 16;
}

.yesBtn {
    -fx-background-color: #736d69;
    -fx-text-fill: #fffdfd;
}

.noBtn {
    -fx-background-color: #ddd5cf;
    -fx-text-fill: #736d69;
}

.yesBtn:hover {
    -fx-background-color: #fffdfd;
    -fx-effect: dropshadow( three-pass-box, #736d69, 10.0, 0.0, 0.5, 3.0);
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.noBtn:hover {
    -fx-background-color: #fffdfd;
    -fx-effect: dropshadow( three-pass-box, #b0afaf, 10.0, 0.0, 0.5, 3.0);
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.titleLabel {
    -fx-font-weight: bold;
    -fx-text-fill: #584643;
    -fx-font-size: 19;
    -fx-font-family: "Arial"
}


.messageLabel {
    -fx-text-fill: #403333;
    -fx-font-size: 16;
    -fx-font-family: "Arial";
}