.root {
    -fx-background-color: #EBE7DB;
}

#titleMessage {
    -fx-min-width: 400;
    -fx-font-size: 22;
    -fx-font-family: "Arial";
    -fx-text-fill: #893B18;
    -fx-text-alignment: left;
}

.line {
    -fx-min-width: 400;
    -fx-stroke: #893B18;
    -fx-effect: dropshadow(gaussian, #A39E8C , 4,0,0,1);
}

.createQuBo {
    -fx-background-color: #FF9C2C;
    -fx-background-radius: 7;
    -fx-min-height: 40;
    -fx-min-width: 120;
    -fx-effect: dropshadow(gaussian, #A39E8C , 4,0,0,1);

    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: #893B18;
}

#or {
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-font-size: 13;
    -fx-text-fill: #A23605;
}

.text-field {
    -fx-border-color: #C0B6A9;
    -fx-border-radius: 5;
    -fx-max-width: 350;
    -fx-min-height: 20;

    -fx-focus-color: #D9AC82;
    -fx-faint-focus-color: #E5A86D;
}

.errorMessageLabel {
    -fx-font-style: italic;
    -fx-font-family: "Arial";
    -fx-text-fill: #DF4D1C;
}

.datePicker {
    -fx-focus-color: #D9AC82;
    -fx-faint-focus-color: #E5A86D;
}

.combo-box-base:focused {
    -fx-background-color: #D9AC82;
}

.spinner {
    -fx-focus-color: #D9AC82;
    -fx-faint-focus-color: #E5A86D;
}

.cancelButton {
    -fx-background-color: #D8D1C7;
    -fx-background-radius: 6;
    -fx-min-width: 80;
    -fx-effect: dropshadow(gaussian, #8D8776 , 2,0,0,1);

    -fx-font-weight: bold;
    -fx-text-fill: #6B5E59;
    -fx-font-size: 14;
}

.attribute {
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-text-fill: #5C4f4B;
}

.value {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: #6B5E59;
}