.root {
    -fx-background-color: #f3f1ee;
}

.button {
    -fx-background-color: #baac8f;
    -fx-background-radius: 6;
    -fx-min-height: 40;
    -fx-min-width: 80;
    -fx-effect: dropshadow(gaussian, #8D8776 , 2,0,0,1);
    -fx-font-family: "Arial";
    -fx-text-fill: #f1ede9;
    -fx-font-size: 17;
}

.submitBtn:hover {
    -fx-background-color: #6bd203;
    -fx-effect: dropshadow( three-pass-box, #53990a, 10.0, 0.0, 0.5, 4.0);
    -fx-font-weight: bold;
    -fx-text-fill: #f5ffe2;
}

.cancelBtn:hover {
    -fx-background-color: #e30c3e;
    -fx-effect: dropshadow( three-pass-box, #920431, 10.0, 0.0, 0.5, 4.0);
    -fx-font-weight: bold;
    -fx-text-fill: #ffe2e7;
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #e05b38;
    -fx-font-size: 16;
    -fx-font-family: "Arial";
    -fx-font-style: italic;
}

.text-area {
    -fx-background-color: #fefefe;
    -fx-prompt-text-fill: #d0c4c0;
    -fx-font-size: 17;
    -fx-font-family: "Arial";
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-border-width: 2px;
    -fx-border-color: #ddd5c9;
    -fx-background-radius: 2;
}

.text-area:hover {
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #d2cac1;
    -fx-prompt-text-fill: #b7a8a7;
    -fx-effect: dropshadow( three-pass-box, #ece8e8, 10.0, 0.0, 0.5, 4.0);
}