.exportBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/btn_export.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.exportBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

.closeBoardBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/btn_closeBoard.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.closeBoardBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

.paceBar {
    -fx-background-color: linear-gradient(#F36F47 0%, #F7A13E 50%, #F36F47 100%);
}

.paceLabel {
    -fx-text-fill: #4f1f1f;
    -fx-font-size: 1.1em;
}

.normalBtn {
    -fx-background-color: #736d69;
    -fx-text-fill: #fffdfd;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #b0afaf , 4, 0, 0, 1);
}

.normalBtn:hover {
    -fx-background-color: #ddd5cf;
    -fx-effect: dropshadow( three-pass-box, #736d69, 3, 0, 0, 3);
    -fx-font-weight: bold;
    -fx-text-fill: #584643;
}

.normalBtn:armed {
    -fx-background-color: #c8bbb1;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 3, 0, 0, 0 );
}

.closeBtn {
    -fx-background-color: #f08080;
    -fx-text-fill: #fffdfd;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #b0afaf , 4, 0, 0, 1);
}

.closeBtn:hover {
    -fx-background-color: #f08080;
    -fx-effect: dropshadow( three-pass-box, #b0afaf, 3, 0, 0, 3);
    -fx-font-weight: bold;
    -fx-text-fill: #fffdfd;
}

.closeBtn:armed {
    -fx-background-color: #eb5252;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 3, 0, 0, 0 );
}
