.root {
    -fx-background-color: EBE7DB;
}

#titleMessage {
    -fx-min-width: 400;

    -fx-font-size: 22;
    -fx-font-family: "BahnSchrift";
    -fx-text-fill: #893B18;
    -fx-text-alignment: left;
}

.codes {
    -fx-min-width: 115;

    -fx-font-family: "Bahnschrift";
    -fx-font-size: 14;
    -fx-text-fill: #6B5E59;
}

.copyButton {
    -fx-background-color: #B9B3A1;
    -fx-background-radius: 6;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-effect: dropshadow(gaussian, #8D8776 , 2,0,0,1);

    -fx-background-image: url('/images/qubocodes/qubocodes_copy_codes.png');
    -fx-background-size: 22px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.attribute {
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 16;
    -fx-text-fill: #5C4f4B;
}

.value {
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 14;
    -fx-text-fill: #6B5E59;
}

.line {
    -fx-min-width: 400;
    -fx-stroke: #A23605;
    -fx-effect: dropshadow(gaussian, #A39E8C , 4,0,0,1);
}

#backToHome {
    -fx-background-color: #D8D1C7;
    -fx-border-radius: 5;
    -fx-min-height: 40;
    -fx-min-width: 80;
    -fx-effect: dropshadow(gaussian, #8D8776 , 2,0,0,1);

    -fx-font-weight: bold;
    -fx-font-family: "BahnSchrift";
    -fx-font-size: 15;
    -fx-text-fill: #6B5E59;
}