.pacingBox {
    -fx-background-color: #f9f7f3;
    -fx-effect: dropshadow( three-pass-box, #80665d, 4.0, 0.0, 0.2, 0.2);
    -fx-height: 500px;
    -fx-width: 300px;
}

.pacingText {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-translate-x: 17;
}

.pacingBtn1 {
    -fx-font-family: "Arial";
    -fx-mark-highlight-color: #c3beba;
    -fx-text-fill: #b39288;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-padding: 2, 7, 2, 7;
    -fx-translate-x: 21;
}

.pacingBtn1 .radio {
    -fx-border-style: solid;
    -fx-border-color: #e0d3c3;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.pacingBtn2 {
    -fx-font-family: "Arial";
    -fx-mark-highlight-color: #c3beba;
    -fx-text-fill: #b39288;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-padding: 2, 7, 2, 7;
    -fx-translate-x: 20;
}

.pacingBtn2 .radio {
    -fx-border-style: solid;
    -fx-border-color: #e0d3c3;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.pacingBtn3 {
    -fx-font-family: "Arial";
    -fx-mark-highlight-color: #c3beba;
    -fx-text-fill: #b39288;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-padding: 2, 7, 2, 7;
    -fx-translate-x: 20;
}

.pacingBtn3 .radio {
    -fx-border-style: solid;
    -fx-border-color: #e0d3c3;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.askBtn {
    -fx-background-image: url(../icons/btn_ask.png);
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 85px 85px;
    -fx-background-radius: 45px;
}

.askBtn:hover {
    -fx-background-image: url(../icons/btn_ask_hover.png);
    -fx-background-size: 90px 90px;
    -fx-cursor: hand;
}

