.root {
    -fx-background-color: #f1efe8;
    -fx-min-height: 720;
    -fx-min-width: 1024;
    -fx-spacing: 4;
}

.label {
    -fx-font-family: "Arial";
    -fx-translate-x: 5;
    -fx-padding: 2, 2, 2, 2;
}

.lecTitleText {
    -fx-font-size: 16;
}

.openText {
    -fx-font-size: 13;
}


.pacingBox {
    -fx-background-color: #f9f7f3;
    -fx-effect: dropshadow( three-pass-box, #80665d, 4.0, 0.0, 0.2, 0.2);
    -fx-height: 500px;
    -fx-width: 300px;
}

.pacingText {
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-translate-x: 17;
}

.pacingBtn1 {
    -fx-font-family: "Arial";
    -fx-mark-highlight-color: #c3beba;
    -fx-text-fill: #b39288;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-padding: 2, 7, 2, 7;
    -fx-translate-x: 21;
}

.pacingBtn1 .radio {
    -fx-border-style: solid;
    -fx-border-color: #e0d3c3;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.pacingBtn2 {
    -fx-font-family: "Arial";
    -fx-mark-highlight-color: #c3beba;
    -fx-text-fill: #b39288;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-padding: 2, 7, 2, 7;
    -fx-translate-x: 20;
}

.pacingBtn2 .radio {
    -fx-border-style: solid;
    -fx-border-color: #e0d3c3;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.pacingBtn3 {
    -fx-font-family: "Arial";
    -fx-mark-highlight-color: #c3beba;
    -fx-text-fill: #b39288;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-padding: 2, 7, 2, 7;
    -fx-translate-x: 20;
}

.pacingBtn3 .radio {
    -fx-border-style: solid;
    -fx-border-color: #e0d3c3;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.askBtn {
    /*-fx-background-image: url(../icons/btn_ask.png);*/
    /*-fx-background-radius: 50;*/
    /*-fx-background-size: 55px 55px;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-position: 100%;*/
    /*-fx-background-position: center;*/
    -fx-background-color: transparent;
    -fx-graphic: url(../icons/btn_ask.png);

    -fx-translate-x: 12;
    -fx-translate-y: -28;
}

.askBtn:hover {
    -fx-graphic: url(../icons/btn_ask_hover.png);
    -fx-background-size: 30px 30px;
}

.sideBarBtn {
    -fx-background-radius: 0;
    -fx-background-color: #d47e1d;

    -fx-background-image: url(../icons/hamburger.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-translate-x: 0.2;
    -fx-translate-y: -0.2;
}

.sideBarBtn:hover {
    -fx-background-color: #8d4e00;
    -fx-background-size: 30px 30px;
}

/*.sideBarBtn:pressed {*/
/*    -fx-scale-y: 0.9;*/
/*    -fx-scale-x: 0.9;*/
/*}*/

.helpBtn {
    -fx-background-radius: 0;
    -fx-background-color: #f6a54a;
}

.exitBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/leave.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.exitBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
}

.pollBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/polls.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.pollBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
}

.answeredBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/ans_q.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.answeredBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
}

.upperBar {
    -fx-background-color: #f6a54a;
    -fx-min-height: 54;
}

.sideBar {
    -fx-background-color: #736d69;
    -fx-min-width: 50;

    -fx-border-style: solid;
    -fx-border-color: #736d69;
    -fx-border-width: 0.5;
}

.sidePane {
    -fx-background-color: #c3b9ad;
}

.qList {
    -fx-background-color: #f1efe8;
}

.qPane {
    -fx-background-color: #fefefe;
    /*-fx-spacing: 10;*/
    -fx-effect: dropshadow( three-pass-box, #80665d, 3.0, 0.0, 0.0, 0.2);
    -fx-font-family: "Arial";
    -fx-text-fill: #b39288;
    -fx-grid-lines-visible: false;
    /*-fx-padding: 1, 1, 1, 1;*/
}

.questionVbox {
    -fx-font-family: "Arial";
    -fx-text-fill: #b39288;
}

.qContent {
    -fx-font-family: "Arial";
    -fx-font-size: 17;
    -fx-text-fill: #b39288;
    -fx-background-color: black;

    /*-fx-padding: 1, 1, 1, 1;*/
}

.qVotes {
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-text-fill: #7e6461;
}