.root {
    -fx-background-color: #f1efe8;
    -fx-spacing: 4;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;

    -fx-translate-x: 10;
    -fx-padding: 2, 2, 2, 2;
}

.lecTitleText {
    -fx-font-size: 17;
}

.openText {
    -fx-font-size: 13;
}

.sideBarBtn {
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(to top, #ffa13b 20%, rgb(255, 164, 105) 80%);

    -fx-background-image: url(../icons/hamburger.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-translate-x: 0.2;
    -fx-translate-y: -0.2;
}

.sideBarBtn:hover {
    -fx-background-color: #cd7000;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

sideBarBtn:selected {
    -fx-background-image: url(../icons/close_sidebar.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.helpBtn {
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(to top, #ffa13b 20%, rgb(255, 164, 105) 80%);

    -fx-background-image: url(../icons/help.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.helpBtn:hover {
    -fx-background-color: #cd7000;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

.boardInfoBtn {
    -fx-background-radius: 0;
    -fx-background-color: linear-gradient(to top, #ffa13b 20%, rgb(255, 164, 105) 80%);

    -fx-background-image: url(../icons/board_details.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.boardInfoBtn:hover {
    -fx-background-color: #ffaf79;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

.exitBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/leave.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.exitBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

.pollBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/polls.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.pollBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

.answeredBtn {
    -fx-background-radius: 0;
    -fx-background-color: #736d69;

    -fx-background-image: url(../icons/ans_q.png);
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.answeredBtn:hover {
    -fx-background-color: #3c3837;
    -fx-background-size: 30px 30px;
    -fx-cursor: hand;
}

.upperBar {
    -fx-min-height: 54;
    -fx-background-color: linear-gradient(to top, #ffa13b 20%, rgb(255, 164, 105) 80%);
}

.sideBar {
    -fx-background-color: #736d69;
    -fx-min-width: 50;

    -fx-border-style: solid;
    -fx-border-color: #736d69;
    -fx-border-width: 0.5;
}

.sidePane {
    -fx-background-color: #c3b9ad;
}

.qList {
    -fx-background-color: #f1efe8;
}

.qPane {
    -fx-background-color: #fefefe;
    -fx-effect: dropshadow( three-pass-box, #80665d, 3.0, 0.0, 0.0, 0.2);
    -fx-font-family: "Arial";
    -fx-text-fill: #b39288;
    -fx-grid-lines-visible: false;
}

.questionVbox {
    -fx-font-family: "Arial";
    -fx-text-fill: #b39288;
}

.qContent {
    -fx-font-family: "Arial";
    -fx-font-size: 17;
    -fx-text-fill: #b39288;
    -fx-background-color: black;
}

.qVotes {
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-text-fill: #7e6461;
}

.upvoteBtn {
    -fx-background-color: transparent;
    -fx-background-image: url(../icons/upvote_false.png);
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.upvoteBtn:selected {
    -fx-background-color: transparent;
    -fx-background-image: url(../icons/upvote_true.png);
    -fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.upvoteBtn:hover {
    -fx-cursor: hand;
}